#login {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  text-align-last: center;

  .login-title {
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align-last: left;

    @include respond(tab-land) {
      font-size: 4.9vw;
      text-align-last: center;
    }
    @include respond(tab-port) {
      font-size: 4.9vw;
      text-align-last: center;
    }
    @include respond(phone) {
      font-size: 4.9vw;
      line-height: 1.2;
      text-align-last: center;
    }
    @include respond(phone-xs) {
      font-size: 4.9vw;
      text-align-last: center;
    }
  }

  .login-input {
    font-size: 2.5vw;
    margin-bottom: 1rem;
    text-align-last: center;
    margin-right: 1rem;

    @include respond(tab-land) {
      font-size: 4.9vw;
    }
    @include respond(tab-port) {
      font-size: 4.7vw;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.8vw;
      line-height: 1;
      width: 100%;
    }
    @include respond(phone-xs) {
      font-size: 4vw;
    }
  }
}